/* Navigation */
.bio-nav {
  margin-bottom: 0;
  border-bottom: 0;
}

#loans-jumbotron {
  background-color: salmon;
}

/* Demo Analytics Widget */
.bio-analyticsbox ul {
  list-style-type: none;
  padding: 0px;
}
.bio-analyticsbox li {
  padding: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: ;
}
